body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.corner {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    text-align: center;
    border: 2px solid #000;
    position: relative;
}

/* Add border only to the right and bottom sides */
.corner:nth-child(1), .corner:nth-child(2) {
    border-bottom: none;
}

.corner:nth-child(1), .corner:nth-child(3) {
    border-right: none;
}

h2 {
    margin-top: 0;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.crosses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding-top: 40px; /* Adjusted for title */
}

.cross {
    font-size: 2em;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.2s ease;
}

.cross:hover {
    transform: scale(1.2);
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}